# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\laba8_nastya-pogoreckaya\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
